<div class="jumbotron jumbotron-fluid">
  <div class="container">
		<h1>Login</h1>
    <hr />
		<%= form_for(:session, url: '/login') do |f| %> 
			  <div class="form-group">
					<%= f.email_field :email, :placeholder => "Email", class: "form-control" %> 
				</div>
				<div class="form-group">
			  	<%= f.password_field :password, :placeholder => "Password", class: "form-control" %> 
				</div>
			  <%= f.submit "Log in", class: "btn btn-primary" %>
			<% end %>
  </div>
</div>
