<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Ban IP Address & Delete All Reports</h1>
    <p class="lead"></p>
    <%= form_for(:data_request, url: "/admin/reports/ban/#{params[:id]}") do |f| %>
            <%= f.submit "Ban IP Address & Delete All Reports", class: "btn btn-danger" %>
        <% end %>
  </div>
</div>
