<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Delete User Report</h1>
    <p class="lead"></p>
    <%= form_for(:data_request, url: "/admin/reports/delete/#{params[:id]}") do |f| %>
            <%= f.submit "Delete Report", class: "btn btn-danger" %>
        <% end %>
  </div>
</div>
