<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Request Report IP Address</h1>
    <p class="lead">This form will request the logged IP Address of a User Report. You do not need to use this form if you want to ban an IP Address for spamming the report system. Please use the Ban IP Address & Delete All Reports Form instead. Using this form will submit a data request to the site's security team. After your request has been reviewed the requested information will be sent to you by the email attached to your account.</p>
    <%= form_for(:data_request, url: "/admin/reports/#{params[:id]}/ipaddress") do |f| %>
            <div class="form-group">
                <label for="reason"><strong>Reason:</strong></label><br />
                <%= f.text_area :reason, :placeholder => "Reason", required: true, class: "form-control" %>
            </div>
            <%= f.submit "Send Request", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>
