<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Revoke Admin</h1>
    <p class="lead"></p>
    <%= form_for(:user, url: "/admin/user/revoke/#{params[:id]}") do |f| %>
            <%= f.submit "Revoke Admin", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>
