<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Add Version to <%= @hack.name %></h1>
    <hr />
        <%= form_for(:download, url: "/hack/version/create/#{@hack.id}") do |f| %>
            <div class="form-group">
                <label for="version"><strong>Hack Version<font style="color:red">*</font></strong></label><br />
                The version/name of the hack, e.g. <i>1.0</i>, <i>Demo</i>, <i>Demo 0.1</i>, <i>Beta</i>, <i>Final</i> etc.<br />
                <%= f.text_field :version, :placeholder => "Version", required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="comment"><strong>Updates / Changelog</strong></label><br />
                A brief comment on changes since the previous version, or e.g. what's missing if demo version. If the zip has a changelog file in it, feel free to refer to it.<br />
                <%= f.text_field :comment, :placeholder => "Comment", required: false, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="contributors"><strong>Additional Contributors</strong></label><br />
                If anyone contributed to this version, but not to the main release, write their username(s) here. separate with commas if multiple e.g. <i>Vidoy, Hacker101, C0ntribut0r</i> etc.<br />
                <%= f.text_field :contributors, :placeholder => "Contributors", required: false, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="everdrive"><strong>Everdrive Compatibility</strong></label><br />
                Whether the hack runs on original console with Everdrive 64 version 1. Deprecated, ignore this if unsure.<br />
                <%= f.text_field :everdrive, :placeholder => "Everdrive", required: false, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="release_date"><strong>Release Date</strong></label><br />
                The date the hack was first released to the public, as accurate as possible. Lave blank if unknown.<br /><br />
                
                If you know the exact release day, syntax is <b>MM.DD.YYYY</b><br />
                If you know the released month and year, syntax is <b>MM.YYYY</b><br />
                If you only know release year, syntax is <b>YYYY</b><br />
                <%= f.text_field :release_date, :placeholder => "Release Date", required: false, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="download_url"><strong>Download URL<font style="color:red">*</font></strong></label><br />
                Link to the download for the current version.<br />
                <%= f.text_field :download_url, :placeholder => "Download URL", required: true, class: "form-control" %>
            </div>
            <%= f.hidden_field :hack_id, value: @hack.id %>
            <%= f.submit "Create Version", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>
