<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">All Hacks</h1>
    <p class="lead">This is a list of all hacks in the database.</p>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Creator</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <% if @hacks %>
                <% @hacks.each do |item| %>
                    <tr>
                        <td><a href="/hack/<%= item.id %>"><%= item.name %></a></td>
                        <td><%= item.creator %></td>
                        <td><%= item.description %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
  </div>
</div>
