<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Delete <%= @hack[:name] %></h1>
    <hr />
        <%= form_for(:hack, url: "/hack/confirmdelete/#{@hack[:id]}") do |f| %>
            <%= f.submit "Delete Hack", class: "btn btn-danger" %>
        <% end %>
  </div>
</div>
