<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Delete Version <%= @download[:version] %> of <%= @hack[:name] %></h1>
    <hr />
        <%= form_for(:download, url: "/hack/version/confirmdelete/#{@download[:id]}") do |f| %>
            <%= f.hidden_field :hack_id, value: @hack.id %>
            <%= f.submit "Delete Version", class: "btn btn-danger" %>
        <% end %>
  </div>
</div>
