<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Edit Hack</h1>
    <hr />
		<%= form_for(:hack, url: "/hack/save/#{@hack.id}") do |f| %>
            <div class="form-group">
                <label for="name"><strong><strong>Full Hack Name<font style="color:red">*</font></strong></label><br />
                The full title of the hack, as the author writes it with correct caps and symbol usage.<br />
                <%= f.text_field :name, :placeholder => "Name", value: @hack.name, required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="description"><strong>Description<font style="color:red">*</font></strong></label><br />
                A brief description of the hack, at least a sentence or two. What separates it from other hacks? Remember proper grammar.<br />
                <%= f.text_field :description, :placeholder => "Description", value: @hack.description, required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="creator"><strong>Creator(s) (separate by comma)</strong></label><br />
                Name or username of the creator(s) of the first/main hack version, e.g. <i>Vidoy, SomeGuy, iMadeIt</i><br />
                <%= f.text_field :creator, :placeholder => "Creator", value: @hack.creator, required: false, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="download_url"><strong>Recommended Version URL</strong></label><br />
                The URL to download the currently recommended version of the hack. Note that you still need to add this version to the hack.<br />
                <%= f.text_field :download_url, :placeholder => "Download URL", value: @hack.download_url, required: false, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="youtube_url"><strong>YouTube Release Video</strong></label><br />
                Most hacks are released through a brief trailer/video on YouTube. Add the 11 characters in your address bar after <i>https://www.youtube.com/watch?v=</i><br />
                <%= f.text_field :youtube_url, :placeholder => "YouTube ID", value: @hack.youtube_url, required: false, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="fandom_link"><strong>Mario64Hacks Wiki Link</strong></label><br />
                If the hack has a page on the <a href="https://mario64hacks.fandom.com/wiki/Super_Mario_64_Hacks_Wiki" target="_blank">Mario64Hacks Wiki</a>, paste the link to it here.<br />
                <%= f.text_field :fandom_link, :placeholder => "", value: @hack.fandom_link, required: false, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="difficulty"><strong>Difficulty</strong></label><br />
                A number from 0 to 5 to pinpoint the hack's general difficulty, base it mainly on the easiest levels. Leave blank if you haven't played or seen the hack.<br /><br />
                
                <b>0</b> - As easy as the original game<br />
                <b>1</b> - Requires occational use of multiple wall-kicks or challenging jumps<br />
                <b>2</b> - Frequent challenging jumps and/or hard challenges/puzzles<br />
                <b>3</b> - Made with a clear intent to be extra challenging (Kaizo)<br />
                <b>4</b> - Only for better players (Extreme Edition)<br />
                <b>5</b> - Only completed by a handful of experts<br />
                <%= f.text_field :difficulty, value: @hack.difficulty, required: false, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="total_stars"><strong>Total Stars</strong></label><br />
                <%= f.text_field :total_stars, value: @hack.total_stars, required: false, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="required_stars"><strong>Required Stars</strong></label><br />
                <%= f.text_field :required_stars, value: @hack.required_stars, required: false, class: "form-control" %>
            </div>
            <%= f.submit "Save Changes", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>
