<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Error!</h1>
    <p class="lead">Um oh! An application error has occured and the details have been logged internally. If you think you received this error by mistake, go back and try again. If you are repeatedly seeing this error, please search the issues listed at <a href="https://gitlab.com/sm64hacks/webapp/issues">https://gitlab.com/sm64hacks/webapp/issues</a> and create one if your concern is not already being tracked.</p>
  </div>
</div>
